/* Color elements for debug */
body {background-color: #eee;}
header {background-color: #d15e5e;}
.container {background-color: #e6abd2;}
.left {background-color: #a0db85;}
#layers-list {background-color: #ccb939;}
#tools {background-color: #30cc44;}
.right {background-color: #b4b5e6;}
#map {background-color: #e86238;}
#legend {background-color: #bc85f2;}
footer {background-color: #d9c4a8;}
