/* Color elements for debug */
body {background-color: #eee;}
header {background-color: #67597a;}
.container {background-color: #ce8147;}
.left {background-color: #ecdd7b;}
#layers-list {background-color: #544e61;}
#tools {background-color: #6e8894;}
.right {background-color: #d3e298;}
#map {background-color: #85baa1;}
#legend {background-color: #ceeddb;}
footer {background-color: #393143;}
