/*
 * Fullscreen Holy Grail Flexbox layout
 * More here: http://bl.ocks.org/jfsiii/5380802
 */
/* Items flex vertically */
.flex-column {
  display: flex;
  flex-direction: column;
}
/* Items flex horizontally */
.flex-row {
  display: flex;
  flex-direction: row;
}
/* With space between them */
.space-between {
  justify-content: space-between;
}
/* Header and footer fixed height */
header, footer {height: 5em;}
/* Container flex between header and footer */
.container {flex: 1;}
/* Side panels fixed width */
.panel-left, .panel-right {width: 15em;}
// Content in left panel flex equally
#layers-list, #tools {flex: 1;}
/* Main content flex between panels */
.content {flex: 1;}
/* Limit panels width */
.content, .panel-left, .panel-right {
  min-width: 8em;
}
