/* Dimensions not affected by padding and borders */
* {box-sizing: border-box;}
/* General styles */
html, body {
  // force fullscreen viewport
  width: 100%;
  height: 100%;
  margin: 0;
  // base font size and weight
  font-size: 16px;
  font-weight: 300;
  // temporary use Arial by default
  font-family: "Arial", sans-serif;
  text-rendering: optimizeLegibility;
}
header, footer {
  margin: .25em;
  padding: .25em;
  border: 1px solid #888;
  // scroll overflow content
  overflow-y: auto;
}
.container {
  margin: 0 .25em;
  // limit container height
  min-height: 100px;
  overflow-y: hidden;
}
.content, .panel-right,
#layers-list, #tools {
  padding: .25em;
  border: 1px solid #888;
  // scroll overflow content
  overflow-y: auto;
}
