/* Holy Grail Layout solved by Flexbox */
body, .container {
  display: flex;
  flex-direction: column;
}
.panel-left {
  order: -1;
}
@media (min-width: 768px) {
  .container {
    flex-direction: row;
    flex: 1;
  }
  .content {
    flex: 1;
  }
  .panel-left, .panel-right {
    /* 12em is the width of the columns */
    flex: 0 0 12em;
  }
}
/* General styles */
html, body {
  font-size: 16px;
  font-weight: 300;
  // temporary use Arial by default
  font-family: "Arial", sans-serif;
  text-rendering: optimizeLegibility;
}
/* Add some default padding to content */
header,
.content,
#layers-list,
#tools,
.panel-right,
footer {
  padding: .3em;
}
/* Resize handlers */
.splitter-vertical {
  width: 7px;
  background-color: #b3b3b3;
}
.splitter-horizontal {
  height: 7px;
  background-color: #b3b3b3;
}
/* For debug */
body {background-color: #be4545;}
header {background-color: #cfc479;}
.container {background-color: #958249;}
.content {background-color: #349c32;}
.panel-left {background-color: #2232c3;}
#layers-list {background-color: #226e9e;}
#tools {background-color: #076507;}
.panel-right {background-color: #ae2cb9;}
footer {background-color: #d183a1;}
