/* Elements dimensions not affected by padding and borders */
* {
  box-sizing: border-box;
}
/* General styles */
html, body {
  // force fullscreen on viewport
  width: 100%;
  height: 100%;
  margin: 0;
  // base font size and weight
  font-size: 16px;
  font-weight: 300;
  // temporary use Arial by default
  font-family: "Arial", sans-serif;
  text-rendering: optimizeLegibility;
}
header, footer,
.panel-left, .content, .panel-right {
  // main elements margin and padding
  margin: 0.25em;
  padding: 0.25em;
  border: 1px solid #888;
  // scroll overflow content
  overflow-y: auto;
}
/* Items flex vertically */
.flex-column {
  display: flex;
  flex-direction: column;
}
/* Items flex horizontally */
.flex-row {
  display: flex;
  flex-direction: row;
}
.space-between {
  justify-content: space-between;
}
/*
 * Fullscreen Holy Grail Flexbox layout.
 * More here: http://bl.ocks.org/jfsiii/5380802
 */
/* Header and footer fixed height */
header, footer {
  height: 100px;
}
/* Other elements flex */
.container {flex: 1;}
.content {
  // flex: 5;
  flex: 1;
}
.panel-left, .panel-right {
  // flex: 1;
  // 12em is the width of the columns
  flex: 0 0 10em;
}
/* Limit content container height */
.container {
  min-height: 100px;
  overflow-y: hidden;
}
/* Resize handlers */
.splitter {
  // center resize icon
  display: flex;
  align-items: center;
  justify-content: center;
  // cool gray background
  background-color: #d7d7d7;
  // add top margin to match other container elements
  margin: 0.25em 0;
  // add borders on top and bottom
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
}
.splitter:hover {
  background-color: #b8b8b8;
}
.sp-vertical {
  width: 0.5em;
  cursor: ew-resize;
}
.sp-horizontal {
  height: 0.5em;
  cursor: ns-resize;
}
/* Delete unnecessary horizontal margins for container elements */
.panel-left {
  margin-right: 0;
}
.content {
  margin-right: 0;
  margin-left: 0;
}
.panel-right {
  margin-left: 0;
}
/* For debug */
body {background-color: #eee;}
header {background-color: #db5252;}
.container {background-color: #e478bf;}
.panel-left {background-color: #dfda64;}
.content {background-color: #27cc5a;}
.panel-right {background-color: #6fb8ed;}
footer {background-color: #e29f2e;}
/* ======================================================== */
/* OUTDATED */
/* ======================================================== */
/* Holy Grail Layout solved by Flexbox */
/*
body, .container {
  display: flex;
  flex-direction: column;
}
.panel-left {
  order: -1;
}
@media (min-width: 768px) {
  .container {
    flex-direction: row;
    flex: 1;
  }
  .content {
    flex: 1;
  }
  .panel-left, .panel-right {
    // 12em is the width of the columns
    flex: 0 0 12em;
  }
}
*/
/* General styles */
/*
html, body {
  // base font size and weight
  font-size: 16px;
  font-weight: 300;
  // temporary use Arial by default
  font-family: "Arial", sans-serif;
  text-rendering: optimizeLegibility;
}
*/
/* Add some default padding to divs content */
/*
header, .content, #layers-list,
#tools, .panel-right, footer {
  padding: .3em;
}
*/
/* Default divs size */
/*
#layers-list {
  min-height: 250px;
  max-height: 350px;
  overflow-y: auto;
}
#tools {
  min-height: 200px;
  max-height: 300px;
  overflow-y: auto;
}
*/
/*
 * Main content and right panel have the same height.
 * Equals to combined height of layers list and tools panel.
 */
 /*
.content, .panel-right {
  // #layer-list.min-height + #tools.min-height + .sp-horizontal.height
  min-height: 460px;
  // #layer-list.max-height + #tools.max-height + .sp-horizontal.height
  max-height: 660px;
  overflow-y: auto;
  // header and footer can be any height
}
*/
/* Resize handlers */
/*
.splitter {
  // center resize icon
  display: flex;
  align-items: center;
  justify-content: center;
  // cool gray background
  background-color: #b3b3b3;
}
.sp-vertical {
  width: 10px;
  cursor: ew-resize;
}
.sp-horizontal {
  height: 10px;
  cursor: ns-resize;
}
*/
/* For debug */
/*
body {background-color: #be4545;}
header {background-color: #cfc479;}
.container {background-color: #958249;}
.panel-left {background-color: #2232c3;}
#layers-list {background-color: #189f5a;}
#tools {background-color: #a9dd60;}
.content {background-color: #349c32;}
.panel-right {background-color: #ae2cb9;}
footer {background-color: #d183a1;}
*/
